@model EducationPortal.Models.tblSuggest
@{
    ViewData["Title"] = "Index";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
}
@{
    System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
}

<div class="page-header">
    <div class="row">

        <div class="col-sm-12">
            <h3 class="page-title">Suggest List</h3>
        </div>
    </div>
</div>
<div class="card m-b-30">
    <div class="card-body">
        <div id="UserGrid"></div>
    </div>

</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/SiteUrl.js"></script>
    <script type="text/javascript">
          $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Suggest/_AjaxBindingSuggest")",
                success: function (result) {
                    loadGrid(result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
          });

        function loadGrid(results) {
            $("#UserGrid").kendoGrid({
                dataSource: {
                    data: results,
                    cache: false,
                    schema: {
                        model: {
                            suggestID: "suggestID",
                            fields: {
                                RoleName: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 10
                },
                editable: false,
                selectable: true,
                pageable: { refresh: true },
                groupable: true,
                sortable: true,
                filterable: true,
                    columns: [
                        { field: "qualification", title: "Qualification" },
                        { field: "budget", title: "Budget" },
                        { field: "studyHours", title: "Study Hours" },
                        { field: "freeStructure", title: "Free Structure" },
                    ],
                editable: false
            });
        }
    </script>
}

