@model EducationPortal.Models.tblCollegeSemester
@{
    ViewData["Title"] = "Index";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
}
@{
    System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
}
<br />
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["success"]
    </div>
}
@if (TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @TempData["fail"]
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="page-title-box">
                <h4 class="page-title">University Semester</h4>
            </div>
        </div>
    </div>
    <div>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CollegeId" />

            <div class="form-group" hidden>
                <label asp-for="CollegeSemesterId" class="control-label"></label>
                <input asp-for="CollegeSemesterId" class="form-control" />
                <span asp-validation-for="CollegeSemesterId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Course">
                    <option value="">--Select Course--</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="SemesterFee" class="control-label"></label>
                <input asp-for="SemesterFee" maxlength="50" class="form-control" />
                <span asp-validation-for="SemesterFee" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="OtherNotes" class="control-label"></label>
                <input asp-for="OtherNotes" maxlength="500" class="form-control" />
                <span asp-validation-for="OtherNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="row">
                &nbsp;&nbsp;
                <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                &nbsp;
                <div class="form-group">
                    @Html.ActionLink("Back", "Index", "College", null, new { @class = "clsButtonFake btn btn-danger" })
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

