@model EducationPortal.ViewModel.SliderViewModel

@{
    ViewData["Title"] = "SaveSlider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        img {
            height: 100px;
            width: 100px;
        }
        .closeDiv {
            width: 20px;
            height: 21px;
            background-color: rgb(35, 179, 119);
            cursor: pointer;
            color: white;
            box-shadow: 2px 2px 7px rgb(74, 72, 72);
            text-align: center;
            margin: 5px;
            right: 0px;
        }
        .pDiv {
            width: 100%
        }
        .divThumbnail {
        }
    </style>
}

@{
    System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
}



<br />
@if (TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @TempData["fail"]
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="page-title-box">
                <h4 class="page-title">Update Slider</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <form asp-action="SaveSlider" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="SliderID" class="control-label"></label>
                <input asp-for="SliderID" class="form-control" />
                <input asp-for="CreatedBy" class="form-control" />
                <input asp-for="ModifiedBy" class="form-control" />
                <input asp-for="ModifiedDate" class="form-control" />
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="SliderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageName" class="control-label"></label>
                <input asp-for="PageName" maxlength="20" class="form-control" />
                <span asp-validation-for="PageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" maxlength="50" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" maxlength="100" class="form-control" >
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortOrder" class="control-label"></label>
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="imgurl" />
                <div id="thumbnail">
                    <div class="divThumbnail">
                        @if (!string.IsNullOrEmpty(Model.imgurl))
                        {
                            <img src="~/Images/@Model.imgurl" class="imgs" />
                            <div class="closeDiv" style="float: left;">X</div>
                        }
                    </div>
                </div>
                <input asp-for="Image" accept="Image/*" id="upload-file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div> &nbsp;
                <div class="form-group">
                    @Html.ActionLink("Back", "Index", "Slider", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        jQuery(function ($) {
            @if (!string.IsNullOrEmpty(Model.imgurl)) {
                @:$("#upload-file").hide();
            }

            $('div').on('click', '.closeDiv', function () {
                $(this).prev().remove();
                $(this).remove();
                $("#upload-file").show();
            });

            var fileInput = document.getElementById("upload-file");

            fileInput.addEventListener("change", function (e) {

                var filesVAR = this.files;

                $('#thumbnail').html("");
                showThumbnail(filesVAR);
            }, false);
            function showThumbnail(files) {
                var file = files[0]

                var $thumbnail = $('#thumbnail').get(0);

                var $image = $("<img> ", {
                    class: "imgThumbnail"
                });
                var $pDiv = $("<div>", {
                    class: "divThumbnail",
                    style: "float: left"
                });
                var $div = $("<div>", {
                    class: "closeDiv",
                    style: "float: right"
                }).html('X');

                $pDiv.append($image, $div).appendTo($thumbnail);
                var reader = new FileReader()
                reader.onload = function (e) {
                    $image[0].src = e.target.result;
                }
                var ret = reader.readAsDataURL(file);
                var canvas = document.createElement("canvas");
                ctx = canvas.getContext("2d");
                $image.on('load', function () {
                    ctx.drawImage($image[0], 100, 100);
                })
            }

        });
    </script>
}
