@model EducationPortal.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Change Password";
}
@{
    System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
}
<br />

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["success"]
    </div>
}
@if (TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @TempData["fail"]
    </div>
}

<h1>Change Password</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" readonly class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Old Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConPassword" class="control-label">New Password</label>
                <input asp-for="ConPassword" id="pwd" minlength="8" maxlength="15" onkeyup="comparepwd()" class="form-control" />
                <span id="cmesg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConPassword" class="control-label">Confirm New Password</label>
                <input asp-for="ConPassword" id="cpwd" onkeyup="comparepwd()" class="form-control" />
                <span id="mesg" class="text-danger"></span>
            </div>
            <script type="text/javascript">
                function comparepwd() {

                    if (document.getElementById('pwd').value != document.getElementById('cpwd').value) {
                        document.getElementById('mesg').style.color = 'red';
                        document.getElementById('mesg').innerHTML = 'Not match  Password';
                        document.getElementById('disbutton').disabled = true;

                    }
                    else {
                        document.getElementById('mesg').style.color = 'red';
                        document.getElementById('mesg').innerHTML = '';
                        document.getElementById('disbutton').disabled = false;
                    }
                }
            </script>
            @if (Convert.ToBoolean(dtRolePrivileges.Rows[3]["Add"]))
            {
                <div class="form-group">
                    <input type="submit" value="Save" id="disbutton" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>


